C=DECK      CHANGE
C
C  PURPOSE IS TO PERMIT USER TO ASSIGN NEW VALUES FOR THOSE PARAMETERS
C  FROM WHICH DECISION VARIABLES CAN BE CHOSEN...
C
C *********** NOTE  NOTE  NOTE  NOTE  NOTE  NOTE **********************
C
C  The CHANGE.NEW source library is completely provided by GENOPT. You
C  do not have to modify CHANGE.NEW at all.
C
C ************************ END NOTE ***********************************
C
      PROGRAM CHANGE
C
      COMMON/PRMFIL/IFILE,IFILE2,IOUT,IPRM(5)   
      COMMON/PRMOUT/IFILE3,IFILE4,IFILE8,IFILE9,IFIL11   
      COMMON/INDAT/INFILE
      COMMON/LWRUPR/VARLOW(98),VARHI(98),CLINK(98,45),VLINK(98),VBV(99)
      COMMON/BNDLCX/VLBX(98),VUBX(98),RATXX(98)
      DIMENSION X(98)
      COMMON/WORDS2/WORDL(98),WORDE(98),WORDIQ(45)
      COMMON/OPTVAR/IDEC(98),ILV(98),IDLINK(98,45),ISCAPE(98),JTERMS(45)
      COMMON/PARAM2/FLAR(98),CAR(99),OAR(98),FSAFE(99),CPWR(98,45)
      COMMON/PARAM3/CINEQ(45,45),DPWREQ(45,45)
      COMMON/PARAM4/IDINEQ(45,45),NINEQ,JINEQ(45),IEQTYP(45)
      COMMON/NUMPAR/NPAR,NVAR,NALLOW,ICONST,NDEC,NLINK,NESCAP,ITYPE
      COMMON/PARAMS/PAR(99),VAR(98),ALLOW(99),CONST(99),DEC(98),ESC(98)
      COMMON/WORDS1/WORDP(99),WORDV(98),WORDA(99),WORDCC(99),WORDD(98)
      COMMON/NUMPR2/NLAR,NCAR,NOAR,NFLAT,NCASES,NPRINT
      COMMON/WORDS3/WORDF(98),WORDB(99),WORDOB(98),WORDS(99)
      COMMON/WORDS4/WORDM(99)
      COMMON/PWORD/PHRASE
      COMMON/PWORD2/IBLANK
      CHARACTER*80 PHRASE
      CHARACTER*80 WORDP,WORDV,WORDA,WORDD,WORDL,WORDE
c     character*80 WORDC
      CHARACTER*80 WORDF,WORDB,WORDOB,WORDS,WORDM,WORDCC,WORDIQ
C     CHARACTER*12 CASE
C     CHARACTER*16 CASE2,CASE3
      CHARACTER*28 CASE
      CHARACTER*32 CASE2,CASE3
      CHARACTER*4 ANSOUT,CHARAC,QUAL
c     character*4 ANSWER
      LOGICAL ANSL1     
C
      DIMENSION ISUB(100)
#if cnvx
      external signal_handler
      integer dummying, signal
      dummyint = signal(2, signal_handler, -1)
#endif
#if sgi
      integer signal_handler
      external signal_handler
      integer dummyint, signal
      dummyint = signal(2, signal_handler, -1)
#endif
#if star
      integer signal_handler
      external signal_handler
      call signal(2, signal_handler)
#endif
C
C  ESTABLISH NAME FOR THE CASE...
C
      CALL CASSPC(5,CASE)
      I=INDEX(CASE,' ')
      IF(I.NE.0) THEN
         CASE2=CASE(:I-1)//'.OPC'
         CASE3=CASE(:I-1)//'.CBL'
      ELSE
         CASE2=CASE//'.OPC'
         CASE3=CASE//'.CBL'
      ENDIF
      NLET = I - 1
      IF (I.EQ.0) NLET = 28 
C
      IFILE = 2   
      IFILE7= 7
      IFILE8 = 8
      IOUTFL = 3
C BEG VMS
c     OPEN(UNIT=2,FILE='GENOPT:URPROMPT.DAT',STATUS='OLD',READONLY)
C END VMS
C BEG UNIX
      OPEN(UNIT=2,FILE='GENOPT/URPROMPT.DAT',STATUS='OLD')
C END UNIX
      OPEN(UNIT=3,FILE=CASE,STATUS='UNKNOWN')
      OPEN(UNIT=7,FILE=CASE3,STATUS='UNKNOWN',FORM='UNFORMATTED')
      OPEN(UNIT=8,FILE=CASE2,STATUS='UNKNOWN')
C
      WRITE(6,5)
      WRITE(IFILE8,'(A,A,A)')
     1' ***************** THIS IS THE  ',CASE(1:NLET),
     1'.OPC FILE ******************'
      WRITE(IFILE8,5)
    5 FORMAT(//' ******************   CHANGE   *******************'//
     1' You use CHANGE to change parameters without having to go back'/
     1' to BEGIN. The parameters you can change are segregated into'/
     1' five groups:'//
     1'    1. parameters elegible to be decision variables'/
     1'    2. parameters not elegible to be decision variables'/
     1'    3. parameters that characterize the environment (loads)'/
     1'    4. allowables (for example, max. strain)'/
     1'    5. factors of safety.'//
     1' Your interactive input is saved on a file called NAME.CHG, in'/
     1' which NAME is the same name you used for BEGIN, DECIDE, etc.'/
     1' A summary of the output from CHANGE is stored in NAME.OPC.'//
     1' ************************************************************'/)
C
      QUAL = '.CHG'
      CALL NFILE(IFILE,INFILE,IOUT,QUAL,IPROMP,IFILE8,CASE,IOUTFL)
C
      CALL GETCOM(IFILE7)
      CALL MOVERX(0,0,ISUB,1,100)
C
      CALL DATUM(IFILE,750,0,0,INT,REALL,CHARAC,IOUT,0,0,0,IPROMP)
      CALL DATUM(IFILE,760,1,2,INT,REALL,ANSOUT,IOUT,0,0,0,IPROMP)
      IF (ANSL1('N',ANSOUT,INFILE)) GO TO 100
C
   10 CONTINUE
C
      CALL OUTVAR(NVAR,VAR,WORDV,IADDV,'PARAMETERS WHICH CAN BE CHANGED. 
     1   CHOOSE ONE OF THE FOLLOWING   ',6,62,1,ISUB,1)
C
      IF (IPROMP.GT.1) THEN
      CALL OUTVAR(NVAR,VAR,WORDV,IADDV,'PARAMETERS WHICH CAN BE CHANGED. 
     1   CHOOSE ONE OF THE FOLLOWING   ',IPROMP,80,1,ISUB,1)
C
      ENDIF
      REWIND IFILE
      CALL DATUM(IFILE,770,1,2,IVAR,REALL,CHARAC,IOUT,0,0,0,IPROMP)
      IF (IVAR.GT.NVAR.OR.IVAR.LT.1) THEN
         WRITE(6,*)' BAD CHOICE FOR PARAMETER, TRY AGAIN.'
         BACKSPACE(IOUT)
         GO TO 10
      ENDIF
C
      CALL DATUM(IFILE,780,1,2,INT,VAR(IVAR),CHARAC,IOUT,0,0,0,IPROMP)
C
      CALL DATUM(IFILE,790,1,1,INT,REALL,ANSOUT,IOUT,0,0,0,IPROMP)
      IF (ANSL1('Y',ANSOUT,INFILE)) GO TO 10
C
  100 CONTINUE
C
      CALL DATUM(IFILE,800,1,2,INT,REALL,ANSOUT,IOUT,0,0,0,IPROMP)
      IF (ANSL1('N',ANSOUT,INFILE)) GO TO 200
C
  110 CONTINUE
      CALL OUTVAR(NPAR,PAR,WORDP,IADDP,'PARAMETERS WHICH CAN BE CHANGED. 
     1   CHOOSE ONE OF THE FOLLOWING   ',6,62,1,ISUB,1)
C
      IF (IPROMP.GT.1) THEN
      CALL OUTVAR(NPAR,PAR,WORDP,IADDP,'PARAMETERS WHICH CAN BE CHANGED. 
     1   CHOOSE ONE OF THE FOLLOWING   ',IPROMP,80,1,ISUB,1)
      ENDIF
      REWIND IFILE
      CALL DATUM(IFILE,770,1,2,IVAR,REALL,CHARAC,IOUT,0,0,0,IPROMP)
      IF (IVAR.GT.NPAR.OR.IVAR.LT.1) THEN
         WRITE(6,*)' BAD CHOICE FOR PARAMETER, TRY AGAIN.'
         BACKSPACE(IOUT)
         GO TO 110
      ENDIF
C
      CALL DATUM(IFILE,780,1,2,INT,PAR(IVAR),CHARAC,IOUT,0,0,0,IPROMP)
C
      CALL DATUM(IFILE,790,1,1,INT,REALL,ANSOUT,IOUT,0,0,0,IPROMP)
      IF (ANSL1('Y',ANSOUT,INFILE)) GO TO 110
C
  200 CONTINUE
      CALL DATUM(IFILE,810,1,2,INT,REALL,ANSOUT,IOUT,0,0,0,IPROMP)
      IF (ANSL1('N',ANSOUT,INFILE)) GO TO 210
C
  205 CONTINUE
C
      CALL OUTVAR(  NLAR, FLAR,WORDF,IADDA,'PARAMETERS WHICH ARE ENVIRON
     1MENTAL FACTORS (e.g. loads, temps.)  ',6,62,1,ISUB,1)
C
      IF (IPROMP.GT.1) THEN
      CALL OUTVAR(  NLAR, FLAR,WORDF,IADDA,'PARAMETERS WHICH ARE ENVIRON
     1MENTAL FACTORS (e.g. loads, temps.)  ',IPROMP,80,1,ISUB,1)
      ENDIF
      REWIND IFILE
      CALL DATUM(IFILE,770,1,2,IVAR,REALL,CHARAC,IOUT,0,0,0,IPROMP)
      IF (IVAR.GT.NLAR.OR.IVAR.LT.1) THEN
         WRITE(6,*)' BAD CHOICE FOR PARAMETER, TRY AGAIN.'
         BACKSPACE(IOUT)
         GO TO 205
      ENDIF
C
      CALL DATUM(IFILE,780,1,2,INT,FLAR(IVAR),CHARAC,IOUT,0,0,0,IPROMP)
C
      CALL DATUM(IFILE,790,1,1,INT,REALL,ANSOUT,IOUT,0,0,0,IPROMP)
      IF (ANSL1('Y',ANSOUT,INFILE)) GO TO 205
C
C
  210 CONTINUE
C
      CALL DATUM(IFILE,820,1,2,INT,REALL,ANSOUT,IOUT,0,0,0,IPROMP)
      IF (ANSL1('N',ANSOUT,INFILE)) GO TO 310
C
  220 CONTINUE
      CALL OUTVAR(NALLOW,ALLOW,WORDA,IADDA,'ALLOWABLES WHICH CAN BE CHAN
     1GED. CHOOSE ONE OF THE FOLLOWING     ',6,62,1,ISUB,1)
C
      IF (IPROMP.GT.1) THEN
      CALL OUTVAR(NALLOW,ALLOW,WORDA,IADDA,'ALLOWABLES WHICH CAN BE CHAN
     1GED. CHOOSE ONE OF THE FOLLOWING     ',IPROMP,80,1,ISUB,1)
      ENDIF
      REWIND IFILE
      CALL DATUM(IFILE,770,1,2,IVAR,REALL,CHARAC,IOUT,0,0,0,IPROMP)
      IF (IVAR.GT.NALLOW.OR.IVAR.LT.1) THEN
         WRITE(6,*)' BAD CHOICE FOR PARAMETER, TRY AGAIN.'
         BACKSPACE(IOUT)
         GO TO 220
      ENDIF
C
      CALL DATUM(IFILE,780,1,2,INT,ALLOW(IVAR),CHARAC,IOUT,0,0,0,IPROMP)
C
      CALL DATUM(IFILE,790,1,1,INT,REALL,ANSOUT,IOUT,0,0,0,IPROMP)
      IF (ANSL1('Y',ANSOUT,INFILE)) GO TO 220
C
  310 CONTINUE
C
      CALL DATUM(IFILE,830,1,2,INT,REALL,ANSOUT,IOUT,0,0,0,IPROMP)
      IF (ANSL1('N',ANSOUT,INFILE)) GO TO 410
C
  320 CONTINUE
C
      CALL OUTVAR( NFLAT,FSAFE,WORDS,IADDA,'PARAMETERS WHICH ARE FACTORS
     1 OF SAFETY                           ',6,62,1,ISUB,1)
      IF (IPROMP.GT.1) THEN
      CALL OUTVAR( NFLAT,FSAFE,WORDS,IADDA,'PARAMETERS WHICH ARE FACTORS
     1 OF SAFETY                           ',IPROMP,80,1,ISUB,1)
      ENDIF
      REWIND IFILE
      CALL DATUM(IFILE,770,1,2,IVAR,REALL,CHARAC,IOUT,0,0,0,IPROMP)
      IF (IVAR.GT.NFLAT.OR.IVAR.LT.1) THEN
         WRITE(6,*)' BAD CHOICE FOR PARAMETER, TRY AGAIN.'
         BACKSPACE(IOUT)
         GO TO 320
      ENDIF
C
      CALL DATUM(IFILE,780,1,2,INT,FSAFE(IVAR),CHARAC,IOUT,0,0,0,IPROMP)
C
      CALL DATUM(IFILE,790,1,1,INT,REALL,ANSOUT,IOUT,0,0,0,IPROMP)
      IF (ANSL1('Y',ANSOUT,INFILE)) GO TO 320
C
  410 CONTINUE
C
      CALL OUTOPT(IFILE8,NVAR,IDV,IEV,ILV,CLINK,IDLINK,VLB,VUB,VAR,WORDV
     1,'         SUMMARY OF INFORMATION FOR OPTIMIZATION ANALYSIS       
     1  ',57)
C
      CALL OUTVAR(NPAR,PAR,WORDP,IADDP,'PARAMETERS WHICH ARE ALWAYS FIXE 
     1D.  NONE CAN BE DECISION VARIAB. ',IFILE8,80,1,ISUB,1)
C
      CALL OUTVAR(  NLAR, FLAR,WORDF,IADDA,'PARAMETERS WHICH ARE ENVIRON
     1MENTAL FACTORS (e.g. loads, temps.)  ',IFILE8,80,1,ISUB,1)
C
      CALL OUTVAR(NALLOW,ALLOW,WORDA,IADDA,'                  ALLOWABLES
     1                                     ',IFILE8,80,1,ISUB,1)
C
      CALL OUTVAR( NFLAT,FSAFE,WORDS,IADDA,'PARAMETERS WHICH ARE FACTORS
     1 OF SAFETY                           ',IFILE8,80,1,ISUB,1)
C
C  NEXT, FILL THE COMMON BLOCKS WITH THE APPROPRIATE DATA
C
      CALL NEWPAR(NVAR,VAR,NPAR,PAR,NLAR,FLAR,NCAR,CAR,NALLOW,ALLOW,
     1            NFLAT,FSAFE,NOAR,OAR,NCASES)
C
      CALL SETUPX(NVAR,IDEC,VAR,VARLOW,VARHI,X,VLBX,VUBX,KOUNT,WORDV)
      CALL MOVERX(1.1,0,RATXX,1,NVAR)
C
      CALL STORCM(IFILE7)
C
      WRITE(6,500) CASE(1:NLET),CASE(1:NLET),CASE(1:NLET),
     1             CASE(1:NLET),CASE(1:NLET)
      WRITE(IFILE8,500) CASE(1:NLET),CASE(1:NLET),CASE(1:NLET),
     1                  CASE(1:NLET),CASE(1:NLET)
  500 FORMAT(//' DESCRIPTION OF FILES GENERATED BY THIS CASE:'//
     1 1X,A,'.CHG = Summary of interactive session you have just'/
     1'          completed. This file can be edited and used for'/
     1'          future runs of CHANGE.'//
     1 1X,A,'.CBL = Contains part of ',A,' data base.'//
     1 1X,A,'.OPC = Output from CHANGE. Please list this file and'/
     1'          inspect it and the ',A,'.CHG file carefully before'/
     1'          proceeding.'//
     1' For further information about files generated during operation'/
     1' of GENOPT give the command HELPG FILES.'//
     1' Next, give any of the commands:'/
     1' DECIDE, MAINSETUP, OPTIMIZE, or SUPEROPT.')
C
      WRITE(IFILE8,'(A,A,A)')
     1' ****************** END OF THE  ',CASE(1:NLET),
     1'.OPC FILE ******************'
      CLOSE(UNIT=IOUT)
      CLOSE(UNIT=7)
      CLOSE(UNIT=8)
C
      END
C
C
C
C=DECK      NEWPAR
      SUBROUTINE NEWPAR(NVAR,VAR,NPAR,PAR,NLAR,FLAR,NCAR,CAR,
     1                 NALLOW,ALLOW,NFLAT,FSAFE,NOAR,OAR,NCASES)
C
C  PURPOSE IS TO FILL THE LABELLED COMMON BLOCKS WITH THE UPDATED
C  SETS OF PARAMETERS.
C
      DIMENSION VAR(*),PAR(*),FLAR(*),ALLOW(*),FSAFE(*),CAR(*),OAR(*)
C
C  INSERT ADDITIONAL COMMON BLOCKS HERE:
C
C  INITIALIZE COUNTERS
C
      IVAR = 1
      IPAR = 1
      IALLOW =1
      ILAR = 1
      ICAR = 1
      IFACT= 1
      IOAR = 1
C
C  INSERT PROGRAM FILE
C
