C=DECK      STORCM
      SUBROUTINE STORCM(IFILE)
C
C  PURPOSE IS TO STORE LABELLED COMMON BLOCKS
C
C *********** NOTE  NOTE  NOTE  NOTE  NOTE  NOTE **********************
C
C  The STOGET.NEW source library is completely provided by GENOPT. You
C  do not have to modify STOGET.NEW at all.
C
C ************************ END NOTE ***********************************
C
      COMMON/LWRUPR/VLB(4803)
      COMMON/XLINK0/CLINK0(98)
      COMMON/BNDLCX/VLBX(294)
      COMMON/GEOMN3/IBVAR,VARPLT(30)
      COMMON/BEHNEG/ICONSW(99)
      COMMON/ITRSNX/ITRSEN,ITRALL,IRESET
      COMMON/NUMPR3/NCAR0
      COMMON/WORDS7/WORDB0(99)
      CHARACTER*80 WORDB0
C BEG JUN 2013
C     COMMON/XAVEXX/XAVE(40)
      COMMON/XAVEXX/XAVE(98)
C END JUN 2013
      COMMON/NUMPAR/NPAR,NVAR,NALLOW,NCONST,NDEC,NLINK,NESCAP,ITYPE
      COMMON/PARAMS/PAR(591)
      COMMON/WORDS1/WORDP(493)
      COMMON/WORDS2/WORDL(241)
      COMMON/NUMPR2/ILAR,ICAR,IOAR,IFLAT,NCASES,NPRINT
      COMMON/PARAM2/FLAR(4804)
      COMMON/PARAM3/CINEQ(4050)
      COMMON/PARAM4/IDINEQ(2116)
      COMMON/WORDS3/WORDF(394)
      COMMON/WORDS5/PCWORD(99)
      COMMON/PLOTCD/ITRTOT,ITER,OBPLOT(5940)
C BEG JULY 2013
      COMMON/ITERX/ITERS,ITIGHTS,ITERCHG,ITERNEW,ITRCHG2,ITRCHG3
C END JULY 2013
      COMMON/GRADMZ/GRADMX(30)
      COMMON/IAUTOX/IAUTOC(9)
      COMMON/SFACT/SMOVE,SFACTR
      COMMON/IAUTOG/IAUTOF
      COMMON/PLTVAR/IPV(151)
      COMMON/OPTVAR/IDV(4749)
C BEG AUG 2009
      COMMON/CMOVEX/CMOVE(98)
C END AUG 2009
      CHARACTER*80 WORDP,WORDV,WORDA,WORDC,WORDD,WORDL,WORDE
      CHARACTER*80 WORDF,WORDB,WORDOB,WORDS,WORDIQ,PCWORD
C
      REWIND IFILE
      WRITE(IFILE) (VLB(I),I=1,4803)
      WRITE(IFILE) (CLINK0(I),I=1,98)
      WRITE(IFILE) (VLBX(I),I=1,294)
      WRITE(IFILE) IBVAR
      WRITE(IFILE) (VARPLT(I),I=1,30)
      WRITE(IFILE) (ICONSW(I),I=1,99)
      WRITE(IFILE) ITRSEN,ITRALL,IRESET
      WRITE(IFILE) NCAR0
      WRITE(IFILE) (WORDB0(I),I=1,99)
C BEG JUN 2013
C     WRITE(IFILE) (XAVE(I),I=1,40)
      WRITE(IFILE) (XAVE(I),I=1,98)
C END JUN 2013
      WRITE(IFILE) NPAR,NVAR,NALLOW,NCONST,NDEC,NLINK,NESCAP,ITYPE
      WRITE(IFILE) (PAR(I),I=1,591)
      WRITE(IFILE) (WORDP(I),I=1,493)
      WRITE(IFILE) (WORDL(I),I=1,241)
      WRITE(IFILE) ILAR,ICAR,IOAR,IFLAT,NCASES,NPRINT
      WRITE(IFILE) (FLAR(I),I=1,4804)
      WRITE(IFILE) (CINEQ(I),I=1,4050)
      WRITE(IFILE) (IDINEQ(I),I=1,2116)
      WRITE(IFILE) (WORDF(I),I=1,394)
      WRITE(IFILE) (PCWORD(I),I=1,99)
      WRITE(IFILE) ITRTOT,ITER
C BEG JULY 2013
      WRITE(IFILE) ITERS,ITIGHTS,ITERCHG,ITERNEW,ITRCHG2,ITRCHG3
C END JULY 2013
      WRITE(IFILE) (OBPLOT(I),I=1,5940)
      WRITE(IFILE) (GRADMX(I),I=1,30)
      WRITE(IFILE) (IAUTOC(I),I=1,9)
      WRITE(IFILE) SMOVE,SFACTR
      WRITE(IFILE) IAUTOF
      WRITE(IFILE) (IPV(I), I=1,151)
      WRITE(IFILE) (IDV(I),I=1,4749)
C BEG AUG 2009
      WRITE(IFILE) (CMOVE(I),I=1,98)
C END AUG 2009
C
      RETURN
      END
C=DECK      GETCOM
      SUBROUTINE GETCOM(IFILE)
C
C  PURPOSE IS TO RETRIEVE LABELLED COMMON BLOCKS
C
      COMMON/LWRUPR/VLB(4803)
      COMMON/XLINK0/CLINK0(98)
      COMMON/BNDLCX/VLBX(294)
      COMMON/GEOMN3/IBVAR,VARPLT(30)
      COMMON/BEHNEG/ICONSW(99)
      COMMON/ITRSNX/ITRSEN,ITRALL,IRESET
      COMMON/NUMPR3/NCAR0
      COMMON/WORDS7/WORDB0(99)
      CHARACTER*80 WORDB0
C BEG JUN 2013
C     COMMON/XAVEXX/XAVE(40)
      COMMON/XAVEXX/XAVE(98)
C END JUN 2013
      COMMON/NUMPAR/NPAR,NVAR,NALLOW,NCONST,NDEC,NLINK,NESCAP,ITYPE
      COMMON/PARAMS/PAR(591)
      COMMON/WORDS1/WORDP(493)
      COMMON/WORDS2/WORDL(241)
      COMMON/NUMPR2/ILAR,ICAR,IOAR,IFLAT,NCASES,NPRINT
      COMMON/PARAM2/FLAR(4804)
      COMMON/PARAM3/CINEQ(4050)
      COMMON/PARAM4/IDINEQ(2116)
      COMMON/WORDS3/WORDF(394)
      COMMON/WORDS5/PCWORD(99)
      COMMON/PLOTCD/ITRTOT,ITER,OBPLOT(5940)
C BEG JULY 2013
      COMMON/ITERX/ITERS,ITIGHTS,ITERCHG,ITERNEW,ITRCHG2,ITRCHG3
C END JULY 2013
      COMMON/GRADMZ/GRADMX(30)
      COMMON/IAUTOX/IAUTOC(9)
      COMMON/SFACT/SMOVE,SFACTR
      COMMON/IAUTOG/IAUTOF
      COMMON/PLTVAR/IPV(151)
      COMMON/OPTVAR/IDV(4749)
C BEG AUG 2009
      COMMON/CMOVEX/CMOVE(98)
C END AUG 2009
      CHARACTER*80 WORDP,WORDV,WORDA,WORDC,WORDD,WORDL,WORDE
      CHARACTER*80 WORDF,WORDB,WORDOB,WORDS,WORDIQ,PCWORD
C
      REWIND IFILE
      READ(IFILE) (VLB(I),I=1,4803)
      READ(IFILE) (CLINK0(I),I=1,98)
      READ(IFILE) (VLBX(I),I=1,294)
      READ(IFILE) IBVAR
      READ(IFILE) (VARPLT(I),I=1,30)
      READ(IFILE) (ICONSW(I),I=1,99)
      READ(IFILE) ITRSEN,ITRALL,IRESET
      READ(IFILE) NCAR0
      READ(IFILE) (WORDB0(I),I=1,99)
C BEG JUN 2013
C     READ(IFILE) (XAVE(I),I=1,40)
      READ(IFILE) (XAVE(I),I=1,98)
C END JUN 2013
      READ(IFILE) NPAR,NVAR,NALLOW,NCONST,NDEC,NLINK,NESCAP,ITYPE
      READ(IFILE) (PAR(I),I=1,591)
      READ(IFILE) (WORDP(I),I=1,493)
      READ(IFILE) (WORDL(I),I=1,241)
      READ(IFILE) ILAR,ICAR,IOAR,IFLAT,NCASES,NPRINT
      READ(IFILE) (FLAR(I),I=1,4804)
      READ(IFILE) (CINEQ(I),I=1,4050)
      READ(IFILE) (IDINEQ(I),I=1,2116)
      READ(IFILE) (WORDF(I),I=1,394)
      READ(IFILE) (PCWORD(I),I=1,99)
      READ(IFILE) ITRTOT,ITER
C BEG JULY 2013
      READ(IFILE) ITERS,ITIGHTS,ITERCHG,ITERNEW,ITRCHG2,ITRCHG3
C END JULY 2013
      READ(IFILE) (OBPLOT(I),I=1,5940)
      READ(IFILE) (GRADMX(I),I=1,30)
      READ(IFILE) (IAUTOC(I),I=1,9)
      READ(IFILE) SMOVE,SFACTR
      READ(IFILE) IAUTOF
      READ(IFILE) (IPV(I), I=1,151)
      READ(IFILE) (IDV(I),I=1,4749)
C BEG AUG 2009
      READ(IFILE) (CMOVE(I),I=1,98)
C END AUG 2009
C
      RETURN
      END
